<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
<header>
    <h1><a href="/">Stephen's Albums</a></h1>
</header>

{% for album in albums %}
    <album>
        <time>created: {{ album.created_at }}</time>
        <h2><a href="">{{ album.title }}</a></h2>
        <h3><a href="">{{ album.artist }}</a></h3>
    </album>
{% endfor %}
</body>
</html>